.landing{
    height: fit-content;
    background-color: $black;

    padding-top: 150px;
    padding-bottom: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    .logo{
        width: 116px;
        height: 100px;
        position: absolute;
        top: 22px;
        left: 20px;
    }
    .svgBlobs{
        img{
            z-index: 0;
        }
        img:nth-child(1){ //Blue & Pink
            top: 300px;
            left: -300px;
            position: absolute;
            animation: shiftAround infinite 12s;
        }
        img:nth-child(2){ //Blue & Green
            top: 100px;
            left: -500px;
            position: absolute;
            animation: shiftUp ease-in-out infinite 12s;
        }
        img:nth-child(3){ //Blue & Green
            top: -500px;
            right: -300px;
            position: absolute;
            animation: shiftAround infinite 12s;
        }
        img:nth-child(4){ //Blue & Green
            top: -50px;
            right: -600px;
            position: absolute;
         
            animation: shiftUp  ease-in-out  infinite 12s;
        }
    }
   
    .textContent{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $white;
        padding: 0px 5px;
        position: relative;
        z-index: 5;
        b{
            font-family: "montserrat";
            font-size: 16px;
        }
        h1{
            font-size: 40px;
            font-family: "bold";
            max-width: 800px;
            text-align: center;
            span{
                font-family: "bold";
                background: linear-gradient(90deg, rgba(69,208,238,1) 0%, rgba(160,195,67,1) 100%);
                background-clip: text;
                color: transparent !important;
            }
        }
        p{
            max-width: 650px;
            margin: 10px 0px;
        }
        .buttons{
            button{
                margin: 10px 10px;
            }
        }
    }
    .landingImages{
        display: none;
    }
    .buttons{
        a{
            button::before{
                content: "Contact Us";
            }
        }
        
    }
}



@media(min-width:450px){
    .landing{
        .logo{
            left: 30px;
            top: 26px;
        }
    }
}

@media(min-width:850px){
    .landing{
  
        .svgBlobs{
            img:nth-child(1){ //Blue & Pink
                top: 300px;
                left: -300px;
                position: absolute;
      
            }
            img:nth-child(2){ //Blue & Green
                top: 100px;
                left: -400px;
                position: absolute;

            }
            img:nth-child(3){ //Blue & Green
                top: -300px;
                right: -300px;
                position: absolute;

            }
            img:nth-child(4){ //Blue & Green
                top: -50px;
                right: -500px;
                position: absolute;

            }
        }
        .textContent{
            b{
                font-size: 20px;
            }
            h1{
                font-size: 60px;
            }
            p{
                font-size: 18px;
            }
        }
    }
}

@media(min-width:1200px){
    .landing{
        .logo{
            top: 15px;
            height: 140px;
            width: 163px;
        }
    }
}
@media(min-width:1400px){
    .landing{
        .logo{
            left: 7vw;
            
        }
        display: flex;
        justify-content: center;
        align-items: center;
        .textContent{
            text-align: unset;
            align-items: flex-start;
            h1{
                text-align: start;
            }
            .buttons{
                button{
                    margin: unset;
                    margin-right: 10px;
                    margin-top: 10px;
                }
   
            }
        }
        .landingImages{
            display: block;
            position: relative;
            width: 550px;
            height: 550px;
            animation: shiftUp infinite 15s;
            img{
                position: absolute;
                border-radius: 50px;
            }
            img:nth-child(1){
                top: 0;
                left: 0;
                z-index: 2;
                width: 450px;
                height: 450px;
            }
            img:nth-child(2){
                bottom: 0px;
                right: -100px;
                z-index: 3;
                width: 400px;
                height: 350px;
                object-fit: cover;
            }
            .greenBorder{
                position: absolute;
                content: "";
                display: block;
                width: 100%;
                height: 95%;
                border: 2px solid $green;
                z-index: 1;
                top: 0;
                right: -50px;
                border-radius: 50px;
                transform: rotate(172deg);
                
            }
            .pinkBorder{
                @extend .greenBorder;
                border: 2px solid $pink;
                transform: rotate(0deg);
            }
        }
    }
}

@keyframes shiftUp{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-25px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes shiftAround{
    0%{
        transform: translate(0px, 0px)
    }
    50%{
        transform: translate(-30px, -30px)
    }
    100%{
        transform: translate(0px, 0px)
    }
}