.servicesSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    .services{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1500px;
        height: fit-content;
        margin-bottom: 50px;
        .service{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            max-width: 420px;
            margin: 20px 30px;
            .serviceImage{
                position: relative;
                margin: 35px 0px;
              
                img{
                    position: relative;
                    width: 128px;
                    height: 128px;
                    z-index: 6;
                }
            }
            .serviceImage::after{
                transition: 0.3s;
                content: "";
                width: 170px;
                height: 170px;
                display: block;
                background-color: #E7E7E7;
                position: absolute;
                border-radius: 50%;
                z-index: -1;
                top: -21px;
                left: -21px;
            }
            span:nth-child(2){
                width: 178px;
                height: 178px;
                display: block;
                border: 5px solid #E7E7E7;
                position: absolute;
                border-radius: 50%;
                z-index: -1;
                top: -30px;
                left: -30px;
            }
            span:nth-child(3){
                width: 196px;
                height: 196px;
                display: block;
                border: 5px solid #E7E7E7;
                position: absolute;
                border-radius: 50%;
                z-index: -1;
                top: -39px;
                left: -39px;
            }
         
            .circlePulses{
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
        
          

                .circle1, .circle2, .circle3{
                    position: absolute;
                    width: 280px;
                    height: 280px;
                    opacity: 0;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    animation-delay: 0s; 
                   
                }
                .blue{
                    background-color: $blue;
                }
                .green{
                    background-color: $green !important;
                }
                .pink{
                    background-color: $pink !important;
                }
                .orange{
                    background-color: $orange !important;
                }
                .yellow{
                    background-color: $yellow !important;
                }
         
            }
   
            b{
                font-family: "bold";
                font-size: 26px;
                
            }
        }
        .service:hover > .serviceImage{
            &.serviceImage:after{
                width: 208px;
                height: 208px;
                left: -40px;
                top: -40px;
                z-index: 5;
            }
            &.blueBackground::after{
                background-color: #76c0d1;
            }
            &.greenBackground::after{
                background-color: #b3cc6e;
            }
            &.orangeBackground::after{
                background-color: #f59964;
            }
            &.pinkBackground::after{
                background-color: #e04d77;
            }
            &.yellowBackground::after{
                background-color: #f8ca4c;
            }
      
        }
        .service:hover > .serviceImage{
            .circlePulses{
                .circle1{
                    animation: growAndFade 3s infinite ease-out;
                }
                .circle2{
                    animation: growAndFade 3s infinite ease-out;
                    animation-delay: 1s; 
                }
                .circle3{
                    animation: growAndFade 3s infinite ease-out;
                    animation-delay: 2s;
                    
                }
            }
          
        }
    }
    
}

@media(max-width:550px){
    .services{
        .service{
            margin: 10px 5px;
            .serviceImage{
                scale: 0.8;
                margin: 20px 20px;
            }
        }
    }
}

@keyframes growAndFade {
    0% {
        opacity: 0.55;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.2); /* Adjust scale value as needed */
    }
  }