//-------------------------------COLORS---------------------------------
$primaryColor: #1C2336;
$primaryDark:  #fafafa;
$primaryLight: #FAFAFA;

$secondaryColor: #1DA7E2;
$secondaryColorDark: #1e86b3;
$secondaryColorLight: #1ebbff;

$accentColor: #644CA8;
$accentColorDark: #e6242b;
$accentColorLight: #77623b;;

$blue: #45D0EE;
$green: #A0C343;
$pink: #FF497C;
$orange: #FF8E4E;
$yellow: #FDBA00;

$white:  #FFFFFF;
$black: #1B1B1B;
//-------------------------------COLORS---------------------------------


//-------------------------------FONTS---------------------------------
@font-face{
  font-family: "Poppins";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Regular.ttf);
  font-display: swap;
}
@font-face{
  font-family: "bold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-Bold.ttf);
  font-display: swap;
}
@font-face{
  font-family: "semibold";
  font-style: normal;
  src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
  font-display: swap;
}
@font-face{
  font-family: "montserrat";
  font-style: normal;
  src: url(../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-display: swap;
}


//-------------------------------FONTS---------------------------------

//-------------------------------MULTI PURPOSE CSS---------------------------------
*{
  margin: 0;   
  padding: 0;
  font-family: "Poppins";
}
.wrapper{
  display: flex;
  justify-content:  center;
  
}



::selection {
  background-color: $green; /* Set your desired highlight color */
  color: $black; /* Set the text color */
  
}
::-webkit-scrollbar {
  width: 5px;

}
::-webkit-scrollbar-track {
  background-color: $black;
}
::-webkit-scrollbar-thumb {

  background-color: $pink;

  height: 10px;
}


@media(min-width:1000px){
  p{
    font-size: 18px !important;
  }
}
//-------------------------------MULTI PURPOSE CSS---------------------------------


//-------------------------------IMPORTS---------------------------------
@import "_navigationMenu.scss";
@import "index/_landing.scss";
@import "index/_services.scss";
@import "index/_pricing.scss";
@import "index/_portfolio.scss";
@import "index/_process.scss";


@import "_footer.scss";
@import "_multiUseDivs.scss";

//-------------------------------IMPORTS---------------------------------